
/* all */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif", serif;
}
p {
 font-family: "Inter", sans-serif;
 color: rgba(0, 0, 0, 0.5);
}
img {
  max-width: 100%;
}
.container {
  max-width: 1140px;
  margin: auto;
}


/* shared style */
.flex{
    display: flex;
}
.pr-text-clr{
    color:#E95A08;
}
.primary-clr{
    color: #8987A1;
}

/* nav-section */

/* .cart{
    padding-right: 10px;
} */
 .logo{
    width: 135px;
    height: 80px;
 }
.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 120px;
}
.nav-icon ul{
    /* align-items: center; */
    gap: 45px;
}
nav ul li {
    list-style: none;
    
}
nav li a{
    text-decoration: none;
}

/* banner */
.banner{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.banner-left{
    flex: 1;
    
    /* padding-bottom: 0px; */
}
.banner-left h2{
    margin-bottom: 13px;
    font-weight: 700;
    font-size:65px ;
}
.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
  /* animation: banner-player-animation 1s ease-in infinite; */
}

/* our-plants-section */
.plants{
    display: grid;
    gap: 50px;
    margin-bottom: 210px;
}
.plants-left{
    justify-content: center;
    text-align: center;
    
}

.btn-cart{
    padding: 20px 80px;
    height: 50px;
    width: 270px;
    font-weight: 500;
    background-color: #E95A08;
    color: white;
    border: none;

}

.plants-right{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

/* flower lover and badge section */
.flower-lover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: auto;
    margin-bottom: 135px;
   

}


.flower-lover-left{
    padding: 38px 0px 0px 60px;
    /* padding-right: 0px; */
}
.flower-lover-left h3{
    font-weight: 700;
    font-size: 3.1rem;
}
.badge{
  position: relative;
  display: inline-block;
}
.trusted-badge{
    /* margin-bottom:-100px ;
    margin-right: -600px; */
    width: 286px;
    height: 286px;
    /* display: inline-block; */
    position: absolute;
    margin-top: -100px;
    /* margin-bottom: ; */
    /* margin-left: -200px; */
    margin-left: 370px;
    /* bottom: -8px;
    left: -12px; */
}
.flower-img {
    
    /* max-width: 50%; */
    display:block;
    width: 1140px;
    height: 600px;
    
    /* flex-direction: column; */
    /* flex: 1; */
}

.flower-lover-left li {
    padding-left: 30px;
    /* list-style: circle; */
   
}
.flower-lover-left  p{
    font-size: 22px;
    margin-top: 20px;
    line-height: normal;
    /* margin-bottom: 38px; */
   
    
    
    /* flex: 1; */
    /* padding-left: 25px; */
    /* max-width: 50%; */
}

/* latest-deals section */
.latest-deals{
    text-align: center;
    margin-bottom: 150px;
    
}
.latest-deals h3{
    font-weight: 700;
    font-size: 3.1rem;
    margin-bottom: 16px;
}
.latest-deals p{
    font-size: 1.38rem;
}

/* join-bunch */
.join{
    background-image:url(../assets/news-letter-bg.png) ;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   
}


.join-inner{
    text-align: center;
    
}
.join h2{
    text-align: center;
    font-weight: 700;
    font-size: 3.1rem;
    color: white;
    margin-bottom: 16px;
}
.join-inner input{
    width: 600px;
    height: 50px;
    background-color: white;
    border: none;
}
.join-inner input ::placeholder{
    font-family: "Inter", sans-serif;
}

.sub-btn{
    width: 186px;
    height: 50px;
    /* padding-left:  */
}
/* footerrrrrrrrr */
.parent-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.parent-card{
    gap: 80px;
    /* justify-content: space-between; */
}
.card-left ul li{
    margin-bottom: 30px; 
}
.card-right ul li{
    margin-bottom: 30px;
}




/* media-query--------mobile-576 */ 
/* @media (max-width: 576px) {
    
    .container{
        max-width: 360px;
        margin: auto; 
    }
  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-icon ul li:not(:last-child) {
    display: none; /* Hide everything except the cart */
  /* } */
  /* .logo img {
    height: 40px;
    margin-top: 10px;
    /* padding-top: 10px; */
    /* flex-direction: column; */
  /* } */ 

  /* .cart {
    font-size: 14px;
  }
   */

/* } */